
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #838181;

}
.Formulario{
    background-color: rgb(209, 209, 209);
    margin: 30%;
    align-items: center;
    padding: 20px
}
.botao{
    margin-top: 13px;
    margin-left: 34%;    
}
button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}